.card {
  display: flex;
  flex-direction: column;
  padding: 10px 20px 0px 20px;
}

.card--wrapper {
  display: flex;
  padding: 0 20px;
  margin: 10px 0;
  gap: 20px;
}
.card--right-side {
  display: flex;
  flex-direction: column;
  padding: 5px 10px 0 20px;
  gap: 8px;
}

.location-img {
  border-radius: 10px;
}

.card--title {
  font-size: 28px;
  font-weight: 900;
  line-height: 30px;
  color: #2b283a;
  padding-bottom: 10px;
}

.location--container {
  display: flex;
  gap: 20px;
  align-items: center;
}

.location--wrapper {
  display: flex;
  align-items: center;
  gap: 4px;
}

.location--icon {
  width: 7px;
  height: 13px;
}

.location {
  letter-spacing: 1px;
  font-size: 13px;
}

.location--maps-link {
  font-size: 13px;
  text-decoration: underline 1px;
}

.location--maps-link > a {
  color: #918e9b;
}

.date-wrapper {
  display: flex;
}

.text {
  font-size: 14px;
}

.horizontal-line {
  height: 2px;
  margin: 10px 20px 0 20px;
  background-color: #e9ecf2;
}

/* mobile */

@media only screen and (max-width: 900px) {
  .card--wrapper {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .location-img {
    width: 330px;
    height: 230px;
  }
}

@media only screen and (max-width: 768px) {
  .location-img {
    width: 270px;
    height: 180px;
  }
}

@media only screen and (max-width: 600px) {
  .location-img {
    width: 220px;
    height: 150px;
  }
}

@media only screen and (max-width: 480px) {
  .location-img {
    width: 180px;
    height: 140px;
  }
  .card--wrapper {
    padding: 0;
  }
}

@media only screen and (max-width: 320px) {
  .location-img {
    width: 180px;
    height: 140px;
  }
  .card--wrapper {
    padding: 0;
  }
}
